{% extends "template.html" %} {% block title %} CONTACT {% endblock %} {% block content %} {% load static %}
<div>
    <form id="frm-contacto" action="/registrar-contacto" method="POST">
        {% csrf_token %}
        <div style="margin:10px; max-width: 1400px;">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="txt-nombres">NOMBRES</label>
                    <input type="text" class="form-control" id="txt-nombres" name="nombres" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-apellido-paterno">APELLIDO PATERNO</label>
                    <input type="text" class="form-control" id="txt-apellido-paterno" name="apellido-paterno" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-apellido-materno">APELLIDO MATERNO</label>
                    <input type="text" class="form-control" id="txt-apellido-materno" name="apellido-materno" />
                </div>
                <div class="form-group col-md-8">
                    <label for="txt-email">EMAIL</label>
                    <input type="email" class="form-control" id="txt-email" name="email" />
                </div>
                <div class="form-group col-md-4">
                    <label for="txt-telefono">TELÉFONO</label>
                    <input type="tel" class="form-control" id="txt-telefono" name="telefono" />
                </div>
                <div class="form-group col-md-6">
                    <label for="txt-asunto">ASUNTO</label>
                    <textarea class="form-control" id="txt-asunto" name="asunto"></textarea>
                </div>
            </div>
            <div class="form row">
                <button type="button" class="btn btn-primary" id="btn-enviar-contacto" onclick="enviar('frm-contacto')">ENVIAR</button>
                <span>&nbsp;</span>
                <button type="button" class="btn btn-warning" id="btn-limpiar" onclick="limpiar()">LIMPIAR</button>
            </div>
        </div>
    </form>
    {% if message_error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div id="message">{{message_error}}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden=true>&times;</span>
        </button>
    </div>
    {%endif%} {% if message_success %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <div id="message">{{message_success}}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden=true>&times;</span>
        </button>
    </div>
    {%endif%}
</div>
<script src="{% static 'js/validate/contact-form-validate.js' %}"></script>
<script src="{% static 'js/util/empty.js' %}"></script>
<script src="{% static 'js/util/max-text.js' %}"></script>
{% endblock %}