{% extends "template.html" %} {% block title %} GALLERY CARD {% endblock %} {% block content %} {% load static %}
<div class="row">
    <div class="card w-50">
        <img src="{% static 'img/gallery/9821436358333398879.png' %}" class="card-img-top" />
        <div class="card-body">
            <p class="card-text">Primera Imagen</p>
        </div>
    </div>
    <div class="card w-50">
        <img src="{% static 'img/gallery/coleccion-partes-cuerpo-humano-esbozado-enmarcadas-pared_53876-65864.jpg' %}" class="card-img-top" />
        <div class="card-body">
            <p class="card-text">Segunda Imagen</p>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'img/gallery/hombres-mujeres-visitando-museo-o-galeria-arte-ilustracion_1262-18948.jpg' %}" class="card-img-top" />
        <div class="card-body">
            <p class="card-text">Tercera Imagen</p>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'img/gallery/interior-galeria_1284-12766.jpg' %}" class="card-img-top" />
        <div class="card-body">
            <p class="card-text">Cuarta Imagen</p>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'img/gallery/marcos-divertidos_23-2147569906.jpg' %}" class="card-img-top" />
        <div class="card-body">
            <p class="card-text">Quinta Imagen</p>
        </div>
    </div>
    <div class="card">
        <img src="{% static 'img/gallery/pared-ladrillo-realista_1284-4683.jpg' %}" class="card-img-top" />
        <div class="card-body">
            <p class="card-text">Sexta Imagen</p>
        </div>
    </div>
</div>
{% endblock %}