{% extends "template.html" %} {% block title %} GALLERY {% endblock %} {% block content %} {% load static %}
<div>
    <figure class="figure">
        <img src="{% static 'img/gallery/9821436358333398879.png' %}" class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Primera Imagen</figcaption>
    </figure>
    <figure class="figure">
        <img src="{% static 'img/gallery/coleccion-partes-cuerpo-humano-esbozado-enmarcadas-pared_53876-65864.jpg' %}" class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Segunda Imagen</figcaption>
    </figure>
    <figure class="figure">
        <img src="{% static 'img/gallery/hombres-mujeres-visitando-museo-o-galeria-arte-ilustracion_1262-18948.jpg' %}" class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Tercera Imagen</figcaption>
    </figure>
    <figure class="figure">
        <img src="{% static 'img/gallery/marcos-divertidos_23-2147569906.jpg' %}" class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Cuarta Imagen</figcaption>
    </figure>
    <figure class="figure">
        <img src="{% static 'img/gallery/pared-ladrillo-realista_1284-4683.jpg' %}" class="figure-img img-fluid rounded" />
        <figcaption class="figure-caption">Quinta Imagen</figcaption>
    </figure>
</div>
{% endblock %}