{% extends "template.html" %} {% block title %} HOME {% endblock %} {% block content %} {% load static %}

<div id="bazar-carrusel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#bazar-carrusel" data-slide-to="0" class="active"></li>
        <li data-target="#bazar-carrusel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="http://www.google.cl"><img src="{% static 'img/02.jpg' %}" class="d-block w-100"></img>
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>Primer Slide</h5>
                <p>Montañas.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/03.jpg' %}" class="d-block w-100"></img>
            <div class="carousel-caption d-none d-md-block">
                <h5>Segundo Slide</h5>
                <p>Batman & Jocker</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#bazar-carrusel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#bazar-carrusel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}